{% set packageIdentifier = package.identifier ? package.identifier : package.id %}

{% extends "layout.html" %}

{% block content %}

<div class="site-content site-content-widgets">
  <main class="store-product store-product-full" data-popup>
    <h2 class="product-title">
      {{ package.name }}
      {% if package.countdownEnds %}
        <span
          class="countdown"
          data-countdown="{{ package.countdownEnds }}"
        >
          {{__("Ending Soon!") }}
        </span>
      {% endif %}
    </h2>

    {%- set hasImage = package.media|length > 0 and package.media[0].url != packageImageDefault -%}

    {% if package.media|length > 1 %}
      {%- include "package-media.twig" -%}
    {% elseif hasImage %}
      <img
        class="image"
        src="{{ package.media[0].url }}"
        alt="{{ package.name }}"
      />
    {% else %}
      <div class="image image-default"></div>
    {% endif %}

    {% include 'package-actions.twig' with { package, currency: basket.currency } %}

    <div class="descr text-content">
      {{ package.description|raw }}
    </div>
  </main>

  {% if isPopup == false %}
    {% include "sidebar.twig" %}
  {% endif %}
</div>
{% endblock %}
